/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* --- FONTS --- */

/* --- COLORS --- */
$white: #fff;
$black: #000;
$blackMenuMobile: rgba(0, 0, 0, 0.92);
$redBorderNav: #f10000;
/* --- COLORS --- */

/* --- SCREEN SIZE --- */
$mobile: 425px;
/* --- SCREEN SIZE --- */

/* --- ANIMATIONS --- */

/* --- ANIMATIONS --- */